.box,
.box-first,
.box-large,
.box-nested,
.box-row {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 0;
  min-height: 1rem;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: #007fff;
}
